<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
         http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
  <!--Servlets declaration start-->
  <servlet>
    <servlet-name>Main</servlet-name>
    <jsp-file>/jsp/index.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>Main</servlet-name>
    <url-pattern>/main</url-pattern>
  </servlet-mapping>
  <!--Servlets declaration end-->

  <!--JSP declaration start-->
  <servlet>
    <servlet-name>Registry</servlet-name>
    <jsp-file>/jsp/registry.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>Registry</servlet-name>
    <url-pattern>/registry</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>UserCredentials</servlet-name>
    <jsp-file>/jsp/userCredentials.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserCredentials</servlet-name>
    <url-pattern>/user-credentials</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>RoleControl</servlet-name>
    <jsp-file>/jsp/roleControl.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>RoleControl</servlet-name>
    <url-pattern>/role-control</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>DepartmentControl</servlet-name>
    <jsp-file>/jsp/departmentControl.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>DepartmentControl</servlet-name>
    <url-pattern>/department-control</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>DiagnoseDisease</servlet-name>
    <jsp-file>/jsp/diagnoseDisease.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>DiagnoseDisease</servlet-name>
    <url-pattern>/diagnose-disease</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>Profile</servlet-name>
    <jsp-file>/jsp/profile.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>Profile</servlet-name>
    <url-pattern>/profile</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>DoctorTherapies</servlet-name>
    <jsp-file>/jsp/doctorTherapies.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>DoctorTherapies</servlet-name>
    <url-pattern>/doctor-therapies</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>PatientTherapies</servlet-name>
    <jsp-file>/jsp/patientTherapies.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>PatientTherapies</servlet-name>
    <url-pattern>/patient-therapies</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>MedicamentControl</servlet-name>
    <jsp-file>/jsp/medicamentControl.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>MedicamentControl</servlet-name>
    <url-pattern>/medicament-control</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>ProcedureControl</servlet-name>
    <jsp-file>/jsp/procedureControl.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProcedureControl</servlet-name>
    <url-pattern>/procedure-control</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>AssignMedicament</servlet-name>
    <jsp-file>/jsp/assignMedicament.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>AssignMedicament</servlet-name>
    <url-pattern>/assign-medicament</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>AssignmentMedication</servlet-name>
    <jsp-file>/jsp/assignmentMedications.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>AssignmentMedication</servlet-name>
    <url-pattern>/assignment-medications</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>AssignProcedure</servlet-name>
    <jsp-file>/jsp/assignProcedure.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>AssignProcedure</servlet-name>
    <url-pattern>/assign-procedure</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>AssignmentProcedures</servlet-name>
    <jsp-file>/jsp/assignmentProcedures.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>AssignmentProcedures</servlet-name>
    <url-pattern>/assignment-procedures</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>Error</servlet-name>
    <jsp-file>/jsp/error.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>Error</servlet-name>
    <url-pattern>/error-handler</url-pattern>
  </servlet-mapping>
  <!--JSP declaration end-->

  <!--Error codes declaration start-->
  <error-page>
    <error-code>401</error-code>
    <location>/error-handler</location>
  </error-page>
  <error-page>
    <error-code>403</error-code>
    <location>/error-handler</location>
  </error-page>
  <error-page>
    <error-code>404</error-code>
    <location>/error-handler</location>
  </error-page>
  <error-page>
    <error-code>500</error-code>
    <location>/error-handler</location>
  </error-page>
  <!--Error codes declaration end-->

  <!--Filters declaration start-->
  <filter>
    <filter-name>SessionLocaleFilter</filter-name>
    <filter-class>mashko.hospital.controller.filter.SessionLocaleFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>SessionLocaleFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <!--Authentication filters declaration start-->
  <filter>
    <filter-name>ReceptionistAuthenticationFilter</filter-name>
    <filter-class>mashko.hospital.controller.filter.AuthenticationFilter</filter-class>
    <init-param>
      <param-name>role</param-name>
      <param-value>RECEPTIONIST</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>ReceptionistAuthenticationFilter</filter-name>
    <url-pattern>/registry</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>ReceptionistAuthenticationFilter</filter-name>
    <url-pattern>/user-credentials</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>ReceptionistAuthenticationFilter</filter-name>
    <url-pattern>/c-register-client</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>ReceptionistAuthenticationFilter</filter-name>
    <url-pattern>/c-find-user-credentials</url-pattern>
  </filter-mapping>

  <filter>
    <filter-name>AdminHeadAuthenticationFilter</filter-name>
    <filter-class>mashko.hospital.controller.filter.AuthenticationFilter</filter-class>
    <init-param>
      <param-name>role</param-name>
      <param-value>ADMIN_HEAD</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>AdminHeadAuthenticationFilter</filter-name>
    <url-pattern>/role-control</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>AdminHeadAuthenticationFilter</filter-name>
    <url-pattern>/department-control</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>AdminHeadAuthenticationFilter</filter-name>
    <url-pattern>/c-change-department-head</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>AdminHeadAuthenticationFilter</filter-name>
    <url-pattern>/c-find-department-control-attributes</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>AdminHeadAuthenticationFilter</filter-name>
    <url-pattern>/c-find-role-control-attributes</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>AdminHeadAuthenticationFilter</filter-name>
    <url-pattern>/c-move-doctor-to-department</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>AdminHeadAuthenticationFilter</filter-name>
    <url-pattern>/c-role-control</url-pattern>
  </filter-mapping>

  <filter>
    <filter-name>DoctorAuthenticationFilter</filter-name>
    <filter-class>mashko.hospital.controller.filter.AuthenticationFilter</filter-class>
    <init-param>
      <param-name>role</param-name>
      <param-value>DOCTOR</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>DoctorAuthenticationFilter</filter-name>
    <url-pattern>/diagnose-disease</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>DoctorAuthenticationFilter</filter-name>
    <url-pattern>/doctor-therapies</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>DoctorAuthenticationFilter</filter-name>
    <url-pattern>/c-diagnose-disease</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>DoctorAuthenticationFilter</filter-name>
    <url-pattern>/c-close-therapy</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>DoctorAuthenticationFilter</filter-name>
    <url-pattern>/c-find-open-doctor-therapies</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>DoctorAuthenticationFilter</filter-name>
    <url-pattern>/c-find-patient-therapies</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>DoctorAuthenticationFilter</filter-name>
    <url-pattern>/c-make-last-diagnosis-final</url-pattern>
  </filter-mapping>

  <filter>
    <filter-name>ClientAuthenticationFilter</filter-name>
    <filter-class>mashko.hospital.controller.filter.AuthenticationFilter</filter-class>
    <init-param>
      <param-name>role</param-name>
      <param-value>CLIENT</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>ClientAuthenticationFilter</filter-name>
    <url-pattern>/profile</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>ClientAuthenticationFilter</filter-name>
    <url-pattern>/c-find-user-details</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>ClientAuthenticationFilter</filter-name>
    <url-pattern>/c-edit-user-details</url-pattern>
  </filter-mapping>
  <!--Authentication filters declaration end-->
  <!--Validation filters declaration start-->
  <filter>
    <filter-name>CommandFilter</filter-name>
    <filter-class>mashko.hospital.controller.filter.RequestParametersFilter</filter-class>
    <init-param>
      <param-name>parameter_name</param-name>
      <param-value>command</param-value>
    </init-param>
  </filter>
  <filter>
    <filter-name>PassportIdFilter</filter-name>
    <filter-class>mashko.hospital.controller.filter.RequestParametersFilter</filter-class>
    <init-param>
      <param-name>parameter_name</param-name>
      <param-value>passport_id</param-value>
    </init-param>
  </filter>
  <filter>
    <filter-name>DepartmentFilter</filter-name>
    <filter-class>mashko.hospital.controller.filter.RequestParametersFilter</filter-class>
    <init-param>
      <param-name>parameter_name</param-name>
      <param-value>department</param-value>
    </init-param>
  </filter>
  <filter>
    <filter-name>LoginFilter</filter-name>
    <filter-class>mashko.hospital.controller.filter.RequestParametersFilter</filter-class>
    <init-param>
      <param-name>parameter_name</param-name>
      <param-value>login</param-value>
    </init-param>
  </filter>
  <filter>
    <filter-name>RoleFilter</filter-name>
    <filter-class>mashko.hospital.controller.filter.RequestParametersFilter</filter-class>
    <init-param>
      <param-name>parameter_name</param-name>
      <param-value>role</param-value>
    </init-param>
  </filter>
  <filter>
    <filter-name>ActionFilter</filter-name>
    <filter-class>mashko.hospital.controller.filter.RequestParametersFilter</filter-class>
    <init-param>
      <param-name>parameter_name</param-name>
      <param-value>action</param-value>
    </init-param>
  </filter>
  <filter>
    <filter-name>FirstNameFilter</filter-name>
    <filter-class>mashko.hospital.controller.filter.RequestParametersFilter</filter-class>
    <init-param>
      <param-name>parameter_name</param-name>
      <param-value>first_name</param-value>
    </init-param>
  </filter>
  <filter>
    <filter-name>SurnameFilter</filter-name>
    <filter-class>mashko.hospital.controller.filter.RequestParametersFilter</filter-class>
    <init-param>
      <param-name>parameter_name</param-name>
      <param-value>surname</param-value>
    </init-param>
  </filter>
  <filter>
    <filter-name>LastNameFilter</filter-name>
    <filter-class>mashko.hospital.controller.filter.RequestParametersFilter</filter-class>
    <init-param>
      <param-name>parameter_name</param-name>
      <param-value>last_name</param-value>
    </init-param>
  </filter>
  <filter>
    <filter-name>BirthdayFilter</filter-name>
    <filter-class>mashko.hospital.controller.filter.RequestParametersFilter</filter-class>
    <init-param>
      <param-name>parameter_name</param-name>
      <param-value>birthday</param-value>
    </init-param>
  </filter>
  <filter>
    <filter-name>IcdCodeFilter</filter-name>
    <filter-class>mashko.hospital.controller.filter.RequestParametersFilter</filter-class>
    <init-param>
      <param-name>parameter_name</param-name>
      <param-value>code</param-value>
    </init-param>
  </filter>
  <filter>
    <filter-name>CardTypeFilter</filter-name>
    <filter-class>mashko.hospital.controller.filter.RequestParametersFilter</filter-class>
    <init-param>
      <param-name>parameter_name</param-name>
      <param-value>card_type</param-value>
    </init-param>
  </filter>
  <filter>
    <filter-name>PhoneFilter</filter-name>
    <filter-class>mashko.hospital.controller.filter.RequestParametersFilter</filter-class>
    <init-param>
      <param-name>parameter_name</param-name>
      <param-value>phone</param-value>
    </init-param>
  </filter>
  <filter>
    <filter-name>GenderFilter</filter-name>
    <filter-class>mashko.hospital.controller.filter.RequestParametersFilter</filter-class>
    <init-param>
      <param-name>parameter_name</param-name>
      <param-value>gender</param-value>
    </init-param>
  </filter>
  <filter>
    <filter-name>ProcedureOrMedicamentNameFilter</filter-name>
    <filter-class>mashko.hospital.controller.filter.RequestParametersFilter</filter-class>
    <init-param>
      <param-name>parameter_name</param-name>
      <param-value>procedure_or_medicament_name</param-value>
    </init-param>
  </filter>
  <filter>
    <filter-name>ProcedureCostFilter</filter-name>
    <filter-class>mashko.hospital.controller.filter.RequestParametersFilter</filter-class>
    <init-param>
      <param-name>parameter_name</param-name>
      <param-value>cost</param-value>
    </init-param>
  </filter>

  <filter-mapping>
    <filter-name>CommandFilter</filter-name>
    <url-pattern>/c-edit-user-details</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>PhoneFilter</filter-name>
    <url-pattern>/c-edit-user-details</url-pattern>
  </filter-mapping>

  <filter-mapping>
    <filter-name>CommandFilter</filter-name>
    <url-pattern>/c-change-department-head</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>DepartmentFilter</filter-name>
    <url-pattern>/c-change-department-head</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>LoginFilter</filter-name>
    <url-pattern>/c-change-department-head</url-pattern>
  </filter-mapping>

  <filter-mapping>
    <filter-name>CommandFilter</filter-name>
    <url-pattern>/c-find-department-control-attributes</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>LoginFilter</filter-name>
    <url-pattern>/c-find-department-control-attributes</url-pattern>
  </filter-mapping>

  <filter-mapping>
    <filter-name>CommandFilter</filter-name>
    <url-pattern>/c-find-role-control-attributes</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>LoginFilter</filter-name>
    <url-pattern>/c-find-role-control-attributes</url-pattern>
  </filter-mapping>

  <filter-mapping>
    <filter-name>CommandFilter</filter-name>
    <url-pattern>/c-move-doctor-to-department</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>DepartmentFilter</filter-name>
    <url-pattern>/c-move-doctor-to-department</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>LoginFilter</filter-name>
    <url-pattern>/c-move-doctor-to-department</url-pattern>
  </filter-mapping>

  <filter-mapping>
    <filter-name>CommandFilter</filter-name>
    <url-pattern>/c-role-control</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>RoleFilter</filter-name>
    <url-pattern>/c-role-control</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>LoginFilter</filter-name>
    <url-pattern>/c-role-control</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>ActionFilter</filter-name>
    <url-pattern>/c-role-control</url-pattern>
  </filter-mapping>

  <filter-mapping>
    <filter-name>CommandFilter</filter-name>
    <url-pattern>/c-register-client</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>LoginFilter</filter-name>
    <url-pattern>/c-register-client</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>PassportIdFilter</filter-name>
    <url-pattern>/c-register-client</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>GenderFilter</filter-name>
    <url-pattern>/c-register-client</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>FirstNameFilter</filter-name>
    <url-pattern>/c-register-client</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>SurnameFilter</filter-name>
    <url-pattern>/c-register-client</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>LastNameFilter</filter-name>
    <url-pattern>/c-register-client</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>BirthdayFilter</filter-name>
    <url-pattern>/c-register-client</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>PhoneFilter</filter-name>
    <url-pattern>/c-register-client</url-pattern>
  </filter-mapping>

  <filter-mapping>
    <filter-name>CommandFilter</filter-name>
    <url-pattern>/c-find-user-credentials</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>FirstNameFilter</filter-name>
    <url-pattern>/c-find-user-credentials</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>SurnameFilter</filter-name>
    <url-pattern>/c-find-user-credentials</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>LastNameFilter</filter-name>
    <url-pattern>/c-find-user-credentials</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>BirthdayFilter</filter-name>
    <url-pattern>/c-find-user-credentials</url-pattern>
  </filter-mapping>

  <filter-mapping>
    <filter-name>CommandFilter</filter-name>
    <url-pattern>/c-close-therapy</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>FirstNameFilter</filter-name>
    <url-pattern>/c-close-therapy</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>SurnameFilter</filter-name>
    <url-pattern>/c-close-therapy</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>LastNameFilter</filter-name>
    <url-pattern>/c-close-therapy</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>BirthdayFilter</filter-name>
    <url-pattern>/c-close-therapy</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>CardTypeFilter</filter-name>
    <url-pattern>/c-close-therapy</url-pattern>
  </filter-mapping>

  <filter-mapping>
    <filter-name>CommandFilter</filter-name>
    <url-pattern>/c-diagnose-disease</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>FirstNameFilter</filter-name>
    <url-pattern>/c-diagnose-disease</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>SurnameFilter</filter-name>
    <url-pattern>/c-diagnose-disease</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>LastNameFilter</filter-name>
    <url-pattern>/c-diagnose-disease</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>BirthdayFilter</filter-name>
    <url-pattern>/c-diagnose-disease</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>CardTypeFilter</filter-name>
    <url-pattern>/c-diagnose-disease</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>IcdCodeFilter</filter-name>
    <url-pattern>/c-diagnose-disease</url-pattern>
  </filter-mapping>

  <filter-mapping>
    <filter-name>CommandFilter</filter-name>
    <url-pattern>/c-find-open-doctor-therapies</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>CardTypeFilter</filter-name>
    <url-pattern>/c-find-open-doctor-therapies</url-pattern>
  </filter-mapping>

  <filter-mapping>
    <filter-name>CommandFilter</filter-name>
    <url-pattern>/c-find-patient-therapies</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>FirstNameFilter</filter-name>
    <url-pattern>/c-find-patient-therapies</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>SurnameFilter</filter-name>
    <url-pattern>/c-find-patient-therapies</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>LastNameFilter</filter-name>
    <url-pattern>/c-find-patient-therapies</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>BirthdayFilter</filter-name>
    <url-pattern>/c-find-patient-therapies</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>CardTypeFilter</filter-name>
    <url-pattern>/c-find-patient-therapies</url-pattern>
  </filter-mapping>

  <filter-mapping>
    <filter-name>CommandFilter</filter-name>
    <url-pattern>/c-make-last-diagnosis-final</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>FirstNameFilter</filter-name>
    <url-pattern>/c-make-last-diagnosis-final</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>SurnameFilter</filter-name>
    <url-pattern>/c-make-last-diagnosis-final</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>LastNameFilter</filter-name>
    <url-pattern>/c-make-last-diagnosis-final</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>BirthdayFilter</filter-name>
    <url-pattern>/c-make-last-diagnosis-final</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>CardTypeFilter</filter-name>
    <url-pattern>/c-make-last-diagnosis-final</url-pattern>
  </filter-mapping>

  <filter-mapping>
    <filter-name>CommandFilter</filter-name>
    <url-pattern>/c-procedure-control</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>ActionFilter</filter-name>
    <url-pattern>/c-procedure-control</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>ProcedureOrMedicamentNameFilter</filter-name>
    <url-pattern>/c-procedure-control</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>ProcedureCostFilter</filter-name>
    <url-pattern>/c-procedure-control</url-pattern>
  </filter-mapping>

  <filter-mapping>
    <filter-name>CommandFilter</filter-name>
    <url-pattern>/c-medicament-control</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>ActionFilter</filter-name>
    <url-pattern>/c-medicament-control</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>ProcedureOrMedicamentNameFilter</filter-name>
    <url-pattern>/c-medicament-control</url-pattern>
  </filter-mapping>

  <filter-mapping>
    <filter-name>CommandFilter</filter-name>
    <url-pattern>/c-a-find-medications-paging</url-pattern>
  </filter-mapping>

  <filter-mapping>
    <filter-name>CommandFilter</filter-name>
    <url-pattern>/c-a-find-procedures-paging</url-pattern>
  </filter-mapping>

  <filter-mapping>
    <filter-name>CommandFilter</filter-name>
    <url-pattern>/c-d-find-medications-paging</url-pattern>
  </filter-mapping>

  <filter-mapping>
    <filter-name>CommandFilter</filter-name>
    <url-pattern>/c-d-find-procedures-paging</url-pattern>
  </filter-mapping>

  <filter-mapping>
    <filter-name>CommandFilter</filter-name>
    <url-pattern>/c-find-assignment-medications</url-pattern>
  </filter-mapping>

  <filter-mapping>
    <filter-name>CommandFilter</filter-name>
    <url-pattern>/c-find-assignment-procedures</url-pattern>
  </filter-mapping>
  <!--Validation filters declaration end-->
  <!--Filters declaration end-->
  <listener>
    <listener-class>mashko.hospital.connection.listener.ConnectionPoolContextListener</listener-class>
  </listener>
</web-app>
